* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
    border: 1px solid black;
    display: flex;
    height: 500px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}

.form h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}

.box {
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

#submit {
    cursor: pointer;
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover {
    background-color: #750000;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
}

.side img {
    width: 380px;
}